{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}


{% block styles%}
    {{ super() }}
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
{% endblock %}

{% block content %}
<div class="container" style="text-align:center">
  <h2 class="text-primary">Register</h2>
  <div class="well">
    {{wtf.quick_form(registration_form)}}
 </div>
</div>


{% endblock%}
