<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   

    <title>

    </title>
  </head>
  <body>
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> My Blog </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> PROFILE</a></li>
                            <li><a href="{{url_for('auth.logout')}}"><span class="glyphicon glyphicon-log-out"></span> LOG OUT </a></li>
                        {% else %}
                        <li> <a href="{{url_for('auth.login')}}">
                            <button type="click" name="button" class="btn btn-default btn-block" id="sign-in">SIGN IN ADMIN</button>
                          </a></li>
                      <!-- <li><a href="{{url_for('auth.register')}}">
                          <button type="button" name="button" class="btn btn-default btn-block" id="register">REGISTER</button>
                          </a></li>  -->
                        {%endif%}
                    </ul>
                </div>
            </div>

        </div>
    </div>
  </body>
</html>